/* Desktop */
* {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-block: 100vh;
}
body {
  background-color: #371c46;
  /* -webkit-background-clip: text; */
}
h1 {
  font-family: "Trade Winds", cursive;
  font-size: 250px;
  max-inline-size: var(--size-content-1);
  /* line-height: var(--font-lineheight-00); */
  color: white;
}
h2 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 120px;
  text-transform: uppercase;
  max-inline-size: var(--size-content-2);
  color: white;
}
h3 {
  font-family: "Trade Winds", cursive;
  font-size: var(--font-size-5);
  max-inline-size: var(--size-content-7);
  color: #e54dc3;
}
p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: var(--font-size-3);
  max-inline-size: var(--size-content-3);
  line-height: var(--font-lineheight-2);
  color: white;
}
