/* Desktop */
* {
  margin: 0;
  box-sizing: border-box;
}
main {
  margin-block: 100vh;
}
body {
  background: linear-gradient(
    0deg,
    rgba(241, 181, 212, 0.47),
    rgba(50, 23, 61, 1)
  );
  /* -webkit-background-clip: text; */
}
h1 {
  font-family: "Trade Winds", cursive;
  font-size: 250px;
  max-inline-size: var(--size-content-1);
  /* line-height: var(--font-lineheight-00); */
}
h2 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: var(--font-size-8);
  text-transform: uppercase;
  max-inline-size: var(--size-content-2);
}
h3 {
  font-family: "Trade Winds", cursive;
  font-size: var(--font-size-5);
  max-inline-size: var(--size-content-7);
  color: #e54dc3;
}
p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: var(--font-size-3);
  max-inline-size: var(--size-content-3);
  line-height: var(--font-lineheight-2);
}
