---
import Analog from "../components/Analog.astro";
import Citat from "../components/Citat.astro";
import Facts from "../components/Facts.astro";
import Intro from "../components/Intro.astro";
import NyBegyndelse from "../components/NyBegyndelse.astro";
import Overskrift from "../components/Overskrift.astro";
import Pierre from "../components/Pierre.astro";
import Skillevej from "../components/Skillevej.astro";
import StuckFoto from "../components/StuckFoto.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Overskrift />
    Billeder
    <Intro />
    <Facts />
    <StuckFoto />
    Infoboks
    <Pierre />
    Billeder Video
    <Skillevej />
    Billeder
    <NyBegyndelse />
    <Citat />
    <Analog />
    Infoboks
  </body>
</html>
<style>
  body {
<<<<<<< HEAD
    background-color: var(--violet-2);
=======
    background: linear-gradient(
      0deg,
      rgba(241, 181, 212, 0.47),
      rgba(50, 23, 61, 1)
    );
    -webkit-background-clip: text;
>>>>>>> ad3d28139ef3e48c6269e23434299812a0b0df3a
  }
</style>
<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
</script>
