---
import Analog from "../components/Analog.astro";
import Citat from "../components/Citat.astro";
import Facts from "../components/Facts.astro";
import Intro from "../components/Intro.astro";
import NyBegyndelse from "../components/NyBegyndelse.astro";
import Overskrift from "../components/Overskrift.astro";
import Pierre from "../components/Pierre.astro";
import Skillevej from "../components/Skillevej.astro";
import StuckFoto from "../components/StuckFoto.astro";
import Slider from "../components/Slider.astro";
import StockSlider from "../components/Stock_slider.astro";
import Video from "../components/Video.astro";
import Faktabox from "../components/Faktabox.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Trade+Winds&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Overskrift />
    <Intro />
    <Facts />

    <StuckFoto />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <StockSlider />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <Pierre />
    <Video />
    <Skillevej />
    <NyBegyndelse />
    <Citat />
    <Analog />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <Slider />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <Faktabox />
  </body>
  <style>
    body {
      /* background-color: var(--violet-2);

      background: linear-gradient(
        0deg,
        rgba(241, 181, 212, 0.47),
        rgba(50, 23, 61, 1)
      );
      -webkit-background-clip: text; */
    }
  </style>

  <style></style>

  <script>
    import { gsap } from "gsap/dist/gsap";
    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);
  </script>
</html>
