---
---

<div class="citat">
  <h3>
    “Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg
    føler mig genfødt.”
  </h3>
</div>

<style>
  .citat {
    display: grid;
    justify-content: center;
    text-align: center;
  }
</style>

<script></script>
