---
---

<div class="citat">
  <h3 class="tekst">
    “Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri Jeg
    føler mig genfødt.”
  </h3>
</div>

<style>
  .tekst {
    font-size: 10em;
  }

  .citat {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
  }
</style>

<script></script>
