---
---

<div class="fackt1">
  <h3>Pierre sælger 2 millioner fotos om året</h3>
</div>
<div class="fackt2">
  <h3>Det svarer til én fotolicens hvert 16. sekund</h3>
</div>
<div class="fackt3">
  <h3>Du ser hans fotos ca. 2 gange om dagen</h3>
</div>

<style></style>

<script></script>
