---
---

<div class="faktabox_grid">
  <div class="faktabox_flex">
    <!--  Analog fotografering -->
    <div class="faktabox1">
      <h4>Analog fotografering</h4>
      <p class="p_info">
        Fotografering med gode, gammeldags filmruller. Analog fotografering
        stiger for tiden i popularitet, specielt blandt unge, og prisen på
        filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes
        at film-fotografering er mere ægte har mere “sjæl.” <br />
        <br />Analog fotografering er langsommmere, hvert enkelt billede koster
        penge, og man bliver nødt til at overveje motiv og lys grundigere før
        der skydes - tænk før du trykker.  Analog fotografering kan gå galt
        mange steder i processen, og det giver også mulighed for at
        eksperimentere med “det uperfekte og uforudsigelige i processen.” Man
        kan f.eks. skyde på for gamle filmruller, arbejde med forskellige
        teknikker som “lens whacking” og filtre/ting foran objektivet, og man
        kan pille ved de kemiske processer under fremkaldelse af filmen.
      </p>
      <div class="faktaborder1"></div>
    </div>

    <!-- Glitch Art -->

    <div class="faktabox3">
      <h4>Glitch art</h4>
      <p class="p_info">
        Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes
        det en glitch. Glitch art går ud på at dyrke fejlene for at skabe kunst.
        En meget typisk glitch er små analoge eller digitale fejl i
        farvegengivelsen af billeder.
      </p>
    </div>
    <div class="faktaborder3"></div>
  </div>

  <!-- Lomografi -->
  <div class="lomo_flex">
    <div class="faktabox2">
      <h4>Lomografi</h4>
      <p class="p_info">
        Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og
        med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes
        ofte på gode, gammeldags filmruller, men kan også skyde digitalt. Det
        kan måske lyde lidt anti-fotograf-agtigt. Men en del foto-entusiaster
        dyrker den slags, og ser det som en foto-genre eller endda en livsstil.
      </p>
      <br />
      <h5>Lomo-regler:</h5>
      <ol>
        <li>Tag kameraet med overalt</li>
        <li>Brug det på alle tidspunkter – dag og nat</li>
        <li>Lomografi er ikke en forstyrrelse af dit liv, men en del af det</li>
        <li>Prøv hofteskuddet!</li>
        <li>Gå tæt på de objekter du har et ønske om at lomografere</li>
        <li>Tænk ikke (William Firebrace)</li>
        <li>Vær hurtig</li>
        <li>Du behøver ikke at vide hvad du fanger på film på forhånd</li>
        <li>Heller ikke efter</li>
        <li>Du skal ikke bekymre dig om nogen regler</li>
      </ol>
      <div class="faktaborder2"></div>
    </div>
  </div>

  <style>
    .faktabox_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
    .faktabox_flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 100px;
    }
    .lomo_flex {
      display: flex;
      align-items: center;
    }
    .faktabox1 {
      background-color: #e54dc3;
      height: 617px;
      width: 400px;
      margin-left: 200px;
      padding: 50px 8px 8px 55px;
    }
    .faktaborder1 {
      border: solid 3px #00c2ff;
      height: 600px;
      width: 400px;
      margin-top: -532px;
      margin-left: -10px;
    }
    .faktaborder1 h4,
    .p_info {
      margin-left: 5px;
    }
    .p_info {
      font-size: 16px;
    }
    .faktabokse_section2 {
      margin-right: -500px;
    }
    .faktabox2 {
      background-color: #e54dc3;
      height: 640px;
      width: 400px;
      margin-left: 200px;
      padding: 50px 8px 8px 55px;
    }
    .faktaborder2 {
      border: solid 3px #00c2ff;
      height: 670px;
      width: 400px;
      margin-top: -595px;
      margin-left: -20px;
    }
    .faktaborder2 h4,
    .p_info {
      margin-left: 5px;
    }
    li {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: var(--font-size-1);
      max-inline-size: var(--size-content-3);
      line-height: var(--font-lineheight-2);
      color: white;
    }
    .faktabox3 {
      background-color: #e54dc3;
      height: 380px;
      width: 400px;
      margin-left: 200px;
      padding: 50px 8px 8px 55px;
    }
    .faktaborder3 {
      border: solid 3px #00c2ff;
      height: 395px;
      width: 400px;
      margin-top: -470px;
      margin-left: 245px;
    }
    .faktaborder3 h4,
    .p_info {
      margin-left: 5px;
    }
    .p_info {
      font-size: 16px;
    }

    /* @media (max-with: 500px) {
      .faktabox_grid {
        grid-template-columns: 1fr;
      } */

    @media (max-width: 1200px) {
      .faktabox_grid {
        display: grid;
        grid-template-columns: 1fr;
      }

      .faktabox1,
      .faktabox3,
      .faktabox2 {
        margin: 5%;
      }

      .faktaborder3 {
        margin-left: 13%;
        margin-bottom: %;
      }
    }
  </style>
</div>
