---
---

<section class="intro_body">
  <div class="intro_billede">
    <img class="img_intro" src="public/img/p.png" alt="" />
  </div>
  <div>
    <h2 class="intro_overskrift">Intro</h2>
    <p>
      Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort
      tid siden, så du hans værker et par gange om dagen, hver dag, året rundt.
      Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han
      solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at
      bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
    </p>
  </div>
</section>
<style>
  img {
    width: 550px;
  }
  .intro_body {
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
    margin: 10%;
  }

  .intro_overskrift {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5%;
    -webkit-animation: flicker-1 2s linear infinite both;
    animation: flicker-1 2s linear infinite both;
  }

  @-webkit-keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  @keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }

  @media (max-width: 1080px) {
    .intro_body {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 690px) {
    .intro_body {
      display: grid;
      grid-template-columns: 1fr;
    }

    img {
      width: 400px;
    }

    .intro_overskrift {
      font-size: 300%;
    }
  }

  /* * {
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
  }
  .intro_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
  }
  .intro_wrapper {
    margin: 150px auto;
    width: 70%;
  }
  .img_intro {
    max-width: 500px;
    float: left;
    margin-left: -60px;
  }
  .intro_teksbox {
    max-width: 761px;
    justify-content: flex-end;
    gap: -60px;
  }
  .intro_overskrift {
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .intro-tekst {
    color: white;
  } */
</style>

<script></script>
