---
---

<div class="grid">
  <div class="intro">
    <h2>INTRO</h2>
  </div>
  <div class="intro-tekst">
    <p>
      Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort
      tid siden, så du hans værker et par gange om dagen, hver dag, året rundt.
      Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han
      solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at
      bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
    </p>
  </div>
</div>

<style>
  .grid {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .intro-tekst {
    text-align: left;
    display: grid;
    justify-content: center;
  }
</style>

<script></script>
