---
---

<section>
  <video
    playsinline
    autoplay
    muted
    loop
    src="public/video/eksperimentel-video_færdig.mp4"></video>
</section>

<style>
  video {
    top: 0;
    left: 0;
    z-index: -3;
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
</style>
